---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

//sort by date
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="ROZE | WRITING" description="Blog">
  <h1 class="text-3xl font-bold pb-10">Writing.</h1>
  <section>
    <ul class="space-y-6">
      {
        allPosts.map(async (post) => {
          const { remarkPluginFrontmatter } = await post.render();
          if (post.data.isDraft) return null;

          return (
            <li>
              <BlogCard
                url={`/writing/${post.slug}`}
                title={post.data.title}
                excerpt={post.data.excerpt}
                date={post.data.date}
                minutesRead={remarkPluginFrontmatter.minutesRead}
              />
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
