---
import SpeedInsights from "@vercel/speed-insights/astro";
import "@styles/global.css";
import Head from "@components/Head.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-nastaliq-urdu";
import "@fontsource-variable/noto-serif";
import Nav from "@components/navigation/Nav.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: string;
  date?: Date;
}

const { title, description, image, type, date } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    type={type}
    image={image}
    date={date}
  />
  <body class="relative">
    <SpeedInsights />
    <header class="md:pb-8">
      <Nav />
    </header>
    <main class="text-base font-serif pt-4 md:pt-0"><slot /></main>
  </body>
</html>
